.like-content--item{
	@media (max-width: 1075px) {
		gap: 40px;
	}
	@media (max-width: 950px) {		
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	@media (max-width: 900px) {		
		h2{
			font-size: 18px;
		}
	}
}