//COLORS

$primary-color: #fff;
$primary-dark: #1F1F1F;
$secondary-color: #1378EF;
$black: #232323;
$background: #ffdf8c;
$gray-line: #f6f6f6;
$orange: #fe5f1e;

$duration: 0.15s;

//MIXINS

@mixin params($fs, $lh){
  font-size: $fs;
  line-height: $lh;
}


//
$container-width: 1400px;
$md1: $container-width + 120px;
$md-mediun: 1360px;
$md2: 991.98px;
$md3: 767.98px;
$md4: 479.98px;
$min-width: 320px;