@import './base/null';
@import './base/base';
@import './base/vars';

@import './components/header';
@import './components/login';
@import './components/button';
@import './components/cart-empty';
@import './components/like-content';
@import './components/categories';
@import './components/fullItem';

.sort-popup{
	position: absolute;
    right: 0;
	z-index: 2;
    margin-top: 15px;
    background: #ffffff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    overflow: hidden;
    

	ul {
		overflow: hidden;
		li {
		  padding: 10px 20px;
		  cursor: pointer;
		  font-size: 16px;
		  font-weight: 500px;

  
		  &.active,
		  &:hover {
			background-color: rgba(254, 95, 30, 0.15);
		  }
  
		  &.active {
			font-weight: bold;
   			color: rgba(147, 51, 234, 1);
		  }
		}
	  }
}  

.home-sidebar{
	li {
		cursor: pointer;
		font-size: 22px;
		font-weight: 500px;
		text-align: center;
		padding-top: 5px;
		padding-bottom: 5px;
		transition: color 0.15s ease-in;

		&:hover {
		  color: rgba(254, 95, 30, 0.75);
		}

		&.active {
		  font-weight: bold;
			 color: rgba(147, 51, 234, 1);
		}
	  }
}

.home-items{
	@media (max-width: 1160px) {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
	@media (max-width: 930px) {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
	@media (max-width: 675px) {
		grid-template-columns: repeat(1, minmax(180px, 186px));
		gap: 0px;
		grid-row-gap: 40px;
	}
	@media (max-width: 439px) {
		place-content: center;
	}
}

.home-content{
	@media (max-width: 439px) {
		width: 100%;
	}
}



